@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");
html {
  scroll-behavior: smooth;
}

div {
  max-width: 100vw;
}

body {
  background-color: #FCF3F0;
  overflow-x: hidden;
  box-sizing: border-box;
  color: #3E5F74;
}
body h1, body h2, body h3, body a {
  font-family: "Bree Serif", sans-serif;
}
body p, body button {
  font-family: "Nunito", sans-serif;
  font-size: 1.3rem;
}

header {
  background-color: #3E5F74;
}
header #info-bar {
  background-color: #3E5F74;
  border-bottom: 3px solid #cbdbdb;
  color: white;
  padding: 3px 2%;
  align-items: center;
  min-height: 2rem;
  height: 5vh;
}
header #info-bar div {
  max-width: 50%;
  display: flex;
  margin: 0 0.5em;
}
header #info-bar div i {
  font-size: 1rem;
}
header #info-bar div a {
  font-family: "Nunito", sans-serif;
  text-decoration: none;
  padding-left: 0.4em;
  color: #eee;
  font-size: 1rem;
}
header #info-bar #envelope {
  align-items: center;
}
header #header-img-container #header-carousel {
  display: block;
  margin: 0 auto;
  max-width: 400px;
}
header #header-img-container img {
  margin: 0 auto;
  width: 100%;
}
header #logoLeftBank {
  position: absolute;
  z-index: 2;
  top: 4vh;
  left: 2vw;
  width: 22vw;
  min-width: 140px;
  max-width: 180px;
}
header #adventureLicense {
  position: absolute;
  z-index: 2;
  top: 4vh;
  right: 2vw;
  width: 22vw;
  min-width: 120px;
  max-width: 170px;
  background: #3E5F74;
  padding: 4px 0 0 7px;
  border-radius: 50%;
  border: 5px solid #cbdbdb;
}
header nav {
  background-color: #3E5F74;
  padding: 0 !important;
  border-top: 3px solid #cbdbdb;
  border-bottom: 3px solid #cbdbdb;
}
header nav ul.navbar-nav a.nav-link {
  color: #eee !important;
}

main {
  background-color: #FCF3F0;
}

.btn-main {
  border-radius: 0.2em;
  border: none;
  background-color: #3E5F74;
  color: white;
}
.btn-main:hover {
  background-color: #6e8594;
}

#slide-1 {
  margin: 0 auto;
  min-height: 70vh;
}
#slide-1 #title h1 {
  margin: 0;
  margin-bottom: 2px;
  display: flex;
  flex-wrap: wrap;
  font-size: 2.5rem;
  color: #3E5F74;
  font-weight: bolder;
}
#slide-1 #title h1 span {
  font-weight: normal;
}
#slide-1 #form-container #hire-form {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-evenly;
  border-radius: 1em;
}
#slide-1 #form-container #hire-form label {
  width: 100%;
  margin: 2px 0 0px 0;
}
#slide-1 #form-container #hire-form input {
  width: 100%;
  padding: 0.4rem;
  margin: 2px 0;
  border-radius: 0.2em;
  border: 1px solid black;
}
#slide-1 #form-container #hire-form button {
  font-size: 1.2rem;
  padding: 0.4em 1.5em;
}

#slide-2 {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
#slide-2 h2 {
  text-align: center;
  font-weight: 200;
  font-size: 2.5rem;
  color: #3E5F74;
}
#slide-2 .activity-images {
  width: 90%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  flex-wrap: wrap;
}
#slide-2 .activity-images .card {
  padding: 1rem;
  flex-basis: 300px;
  flex-grow: 2;
  width: 400px;
  max-width: 400px;
  border-radius: 1.5em;
  background: #FCF3F0;
  margin: 5px;
}
#slide-2 .activity-images .card h3 {
  color: #3E5F74;
  font-size: 2rem;
}
#slide-2 .activity-images .card p {
  color: #3E5F74;
  font-size: 1.3rem;
}
#slide-2 .activity-images .card p a {
  color: #3E5F74;
  text-decoration: none;
}
#slide-2 .activity-images .card p a:hover {
  text-decoration: underline;
}
#slide-2 .activity-images img {
  border-radius: 1.5em;
}

#row-slide-3 {
  margin: 0 auto;
  margin-top: 5%;
}
#row-slide-3 #links {
  max-width: 1200px;
}
#row-slide-3 #links #page-links, #row-slide-3 #links #social-links {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.3rem;
  margin-bottom: 5%;
}
#row-slide-3 #links #page-links span.page-link-item, #row-slide-3 #links #social-links span.page-link-item {
  padding: 10px 0;
  min-width: 15em;
  max-width: calc(100%/3);
  flex-basis: 10px;
  flex-grow: 1;
  flex-shrink: 1;
}
#row-slide-3 #links #page-links span.page-link-item a, #row-slide-3 #links #social-links span.page-link-item a {
  color: #3E5F74;
  text-decoration: none;
}
#row-slide-3 #links #page-links span.page-link-item a:hover, #row-slide-3 #links #social-links span.page-link-item a:hover {
  text-decoration: underline;
}
#row-slide-3 #links #page-links span.page-link-item a i, #row-slide-3 #links #social-links span.page-link-item a i {
  text-align: center;
  font-size: 2.5rem;
  width: 5rem;
}

#leftbank-youtube {
  width: 100vw;
  height: 56.25vw;
  max-width: 840px;
  max-height: 472.5px;
  margin: 20px 0;
}

#fb-feed {
  margin: 20px 0;
}

footer {
  margin: 0;
  padding: 10px 5%;
  background-color: #3E5F74;
  color: #eee;
}
footer hr {
  border: 1px solid white;
  opacity: 1;
}
footer .footer-content a {
  color: #eee;
  text-decoration: none;
}
footer .footer-content a:hover {
  color: #eee;
  text-decoration: underline;
}
footer .footer-content .linkGroup {
  padding: 0.8em 0;
}
footer .footer-content .copyright {
  padding-top: 20px;
  color: #eee;
  max-width: 60%;
}

@media only screen and (max-width: 576px) {
  html {
    font-size: 80%;
  }
  html #info-bar {
    font-size: 80%;
  }

  #logoLeftBank {
    left: 0 !important;
    width: 25vw !important;
    min-width: 70px !important;
  }

  #adventureLicense {
    right: 0 !important;
    width: 24vw !important;
    min-width: 90px !important;
  }
}/*# sourceMappingURL=styles.css.map */