@use "sass:map";

// Add google imports here
// For main font, titles, larger text etc
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&display=swap');
// For secondary font, more detailed text etc
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
// Original Header Font
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');


// Colours
$primary: #3E5F74;
$primary-accent: #cbdbdb;
$primary-hover: #6e8594;
$bg-main: #FCF3F0;
$text-light: #eee;


// boostrap breakpoints
$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px
);
html {scroll-behavior: smooth;}
div {max-width: 100vw;}
.row {margin: 0 auto;}
// fix for contents pages
a.anchor{display: block; position: relative; top: -300px; visibility: hidden;}
body {
    background-color: $bg-main;
    overflow-x: hidden; 
    box-sizing: border-box;
    color: $primary;
    h1, h2, h3, h4, h5, h6, a {
        font-family: 'Bree Serif' , sans-serif;
        color: $primary;
    }
    // font sizes
    h1 {font-size: 2.8rem;}
    h2{font-size: 2.5;}
    h3{font-size: 2rem;}
    p, button, ul li, a{
        font-family: 'Nunito' , sans-serif;
        font-size: 1.3rem;
    }
}
header {
    background-color: $primary;
    #info-bar {
        background-color: $primary;
        border-bottom: 3px solid $primary-accent;
        color:white;
        padding: 3px 2%;
        align-items: center;
        min-height: 2rem;
        height: 5vh;
        div {
            max-width: 50%;
            display: flex;
            margin: 0 0.5em;
            i {
                font-size: 1rem;
            }
            a {
                font-family: 'Nunito', sans-serif;
                text-decoration: none;
                padding-left: 0.4em; 
                color: $text-light;
                 font-size: 1rem;
            }
        }
        #envelope {
            align-items: center;
        }
    }
    #header-img-container {
        // height: 10vh;
        // border-radius: 1.5em;
        #header-carousel {
            display: block;
            margin: 0 auto;
            max-width: 400px;
        }

        img {
            // display: block;
            margin: 0 auto;
            width: 100%;
        }
    }
    
    #logoLeftBank {
        position: absolute;
        z-index: 2;
        top: 4vh;
        left: 2vw;
        width: 22vw;
        min-width: 140px;
        max-width: 200px;
    }

    #adventureLicense {
        position: absolute;
        z-index: 2;
        top: 4vh;
        right: 2vw;
        // combination of a dynamic width and max/min ,
        // gives lots of control over image sizes
        width: 22vw;
        min-width: 120px;
        max-width: 190px;
        background: $primary;
        // temporary padding
        padding: 4px 0 0 7px;
        border-radius: 50%;
        border: 5px solid $primary-accent;
    }
    
    nav {
        background-color: $primary;
        padding: 0 !important;
        margin-bottom: 8px;
        border-top: 3px solid $primary-accent;
        border-bottom: 3px solid $primary-accent;
        ul.navbar-nav {
            a.nav-link {
                color:$text-light!important;
            }
        }
    }
}

main {
    background-color: $bg-main;
    // background-color: red;
}

.btn-main {
    border-radius: 0.2em;
    border: none;
    background-color: $primary;
    color: white;
    &:hover {
        background-color: $primary-hover;
    }
}
// .btn-outline-primary {
//     padding: 0.3em 0.8em;
//     border: 4px solid $primary;
//     color: $primary;
//     &:hover {
//         // text color auto changes to white from bootstrap
//         border: 4px solid $primary;
//         background-color: $primary;
//     }
// }
#slide-1 {
    margin: 0 auto;
    min-height: 70vh;
    #title {
        h1 {
            // margin: 0;
            margin-bottom: 2px;
            display: flex;
            flex-wrap: wrap;
            font-weight: bolder;
            span {
                font-weight: normal;
            }
        }
    }

    // ---- Form ----
    #form-container {
        // min-height: 50vh;
        #hire-form {
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: space-evenly;
            border-radius: 1em;
            label {
                width: 100%;
                margin: 2px 0 0px 0;
            }
            input {
                width: 100%;
                padding: 0.4rem;
                margin: 2px 0;
                border-radius: 0.2em;
                border: 1px solid black;
            }
            button {
                font-size: 1.2rem;
                padding: 0.4em 1.5em;
            }
        }   
    }
}
// only for pages with contents tables
ul#contents {
    box-sizing: border-box;
    padding: 15px 40px;
    border: 1px solid $primary;
    border-radius: 0.5em;
}

// ---- Activities ----
#slide-2 {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    h2 {
        text-align: center;
        font-weight: 200;
    }
    .activity-images {
        width: 90%;
        display: flex;
        justify-content: center;
        margin: 0 auto;
        flex-wrap: wrap;
        .card {
            padding: 1rem;
            flex-basis: 300px;
            flex-grow: 2;
            width: 400px;
            max-width:400px;
            border-radius: 1.5em;
            background: $bg-main;
            margin: 5px;
            h3 {
                margin-top: 10px;
                color: $primary;
            }
            p {
                // color: $text-light;
                color: $primary;
                font-size: 1.3rem;
                a {
                    // color: $text-light;
                    color: $primary;
                    text-decoration: none;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
        img {
            border-radius: 1.5em; 
        }
    }
}

// ---- slide 3 container ---- 

#row-slide-3 {
    // width: 100vw;
    // centers the container properly
    margin: 5% auto;
    // ---- page links ----
    article#links {
        // border: 1px solid green;
        display: flex;
        flex-direction: column;
        align-items: center ;
        max-width: 39rem;
        #page-links, #social-links {
            margin: 5% 0;
            width: 100%;
            // border: 1px solid red;
            display: flex;
            flex-wrap: wrap;
            font-size: 1.3rem;
            span.page-link-item {
                padding: 0.2rem 0.5rem;
                width: 50%;
                flex-basis: 150px;
                flex-grow: 1;
                flex-shrink: 1;
                a {
                    // border: 1px solid blue;
                    color: $primary;
                    text-decoration: none;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    text-align: center;
                    &:hover {
                        text-decoration: underline;
                    }
                    i {
                        font-size: 4.8rem;
                    }
                }
            }
        }
        #social-links {width: 25rem;}
    }
}
// ----- for embded frames ---
#embeds {margin: 0 auto;}
#leftbank-youtube {width: 100vw; height: 56.25vw; max-width: 840px; max-height: 472.5px;  margin: 10px 0;}
#fb-feed {margin: 10px 0;}
// ---- Footer ----
// MAKE IT DISPLAY FLEX COLUMN TO FIX LINK ISSUES
footer {
    margin: 0;
    padding: 10px 5%;
    background-color: $primary;
    color: $text-light;
    // p , a {font-size: 1rem;}
    hr {border: 1px solid white; opacity: 1;}
    .footer-content {
        a {color: $text-light; text-decoration: none;
            &:hover {color: $text-light; text-decoration: underline;}
        }
        .linkGroup {padding: 0.8em 0;}
        .copyright {padding-top: 20px; color: $text-light; max-width: 60%;}
    }
}
// Add a media query where the flex direction in the footer changes
@media only screen and (max-width: map-get($grid-breakpoints, "sm")) {
    html {
        font-size: 80%; 
        #info-bar {font-size: 80%;}
    }
    #logoLeftBank {
        left: 0 !important;
        width: 25vw !important;
        min-width: 70px !important;
    }
    #adventureLicense {
        right: 0 !important;
        width: 24vw !important;
        min-width: 90px !important;
    }
    
}