@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");
html {
  scroll-behavior: smooth;
}

div {
  max-width: 100vw;
}

.row {
  margin: 0 auto;
}

a.anchor {
  display: block;
  position: relative;
  top: -300px;
  visibility: hidden;
}

body {
  background-color: #FCF3F0;
  overflow-x: hidden;
  box-sizing: border-box;
  color: #3E5F74;
}
body h1, body h2, body h3, body h4, body h5, body h6 {
  font-family: "Bree Serif", sans-serif;
}
body h1 {
  font-size: 2.8rem;
}
body h2 {
  font-size: 2.5;
}
body h3 {
  font-size: 2rem;
}
body h4 {
  font-size: 1.8rem;
}
body p, body button, body ul li, body a {
  color: #3E5F74;
  font-family: "Nunito", sans-serif;
  font-size: 1.3rem;
}
body a {
  text-decoration: none;
}
body a:hover {
  color: #244153;
  text-decoration: underline;
}

article, #embeds, .activity-images {
  margin: 0 auto;
}

header {
  background-color: #3E5F74;
}
header #info-bar {
  border-bottom: 3px solid #cbdbdb;
  color: white;
  padding: 3px 2%;
  min-height: 2rem;
  height: 5vh;
}
header #info-bar div {
  max-width: 50%;
  display: flex;
  margin: 0 0.5em;
}
header #info-bar div i {
  font-size: 1rem;
}
header #info-bar div a {
  padding-left: 0.4em;
  color: #eee;
  font-size: 1rem;
}
header #info-bar #envelope {
  align-items: center;
}
header #header-img-container #header-carousel {
  display: block;
  margin: 0 auto;
  max-width: 360px;
}
header #header-img-container img {
  margin: 0 auto;
  width: 100%;
}
header #logoLeftBank {
  z-index: 2;
  position: absolute;
  top: 4vh;
  left: 2vw;
  width: 22vw;
  min-width: 135px !important;
  max-width: 200px !important;
}
header #adventureLicense {
  z-index: 2;
  position: absolute;
  top: 4vh;
  right: 2vw;
  width: 22vw;
  min-width: 130px !important;
  max-width: 195px !important;
  background: #3E5F74;
  padding: 3px 0 0 9px;
  border-radius: 50%;
  border: 5px solid #cbdbdb;
}
header nav {
  background-color: #3E5F74;
  padding: 0 !important;
  margin-bottom: 8px;
  border-top: 3px solid #cbdbdb;
  border-bottom: 3px solid #cbdbdb;
}
header nav ul.navbar-nav a.nav-link {
  color: #eee !important;
  font-family: "Bree Serif", sams-serif;
}

main {
  background-color: #FCF3F0;
}

.btn-main {
  border-radius: 0.2em;
  padding: 0.4em 1.5em;
  border: none;
  background-color: #3E5F74;
  color: white;
}
.btn-main:hover {
  background-color: #244153;
}

img.image-embed {
  border: 2px solid #3E5F74;
  border-radius: 20px;
  margin: 10px auto;
}

img.accommodation {
  display: block;
  width: 50%;
  float: right;
  max-width: 400px;
}

#slide-1 {
  min-height: 70vh;
}
#slide-1 #title h1 {
  margin-bottom: 2px;
  display: flex;
  flex-wrap: wrap;
  font-weight: bolder;
}
#slide-1 #title h1 span {
  font-weight: normal;
}
#slide-1 #form-container #hire-form {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-evenly;
  border-radius: 1em;
}
#slide-1 #form-container #hire-form label, #slide-1 #form-container #hire-form input {
  width: 100%;
  margin: 2px 0;
}
#slide-1 #form-container #hire-form input {
  padding: 0.4rem;
  border-radius: 0.2em;
  border: 1px solid black;
}

ul#contents {
  padding: 15px 40px;
  border: 1px solid #3E5F74;
  border-radius: 0.5em;
}

#slide-2 {
  display: flex;
  flex-direction: column;
}
#slide-2 h2 {
  text-align: center;
  font-weight: 200;
}
#slide-2 .activity-images {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#slide-2 .activity-images .card {
  padding: 1rem;
  flex-basis: 300px;
  flex-grow: 2;
  width: 400px;
  max-width: 400px;
  border-radius: 1.5em;
  background: #FCF3F0;
  margin: 5px;
}
#slide-2 .activity-images .card h3 {
  margin-top: 10px;
  color: #3E5F74;
}
#slide-2 .activity-images .card a.learn-more-link {
  font-weight: 600;
}
#slide-2 .activity-images .card img {
  border-radius: 1.5em;
}

#row-slide-3 {
  margin: 5% auto;
}
#row-slide-3 article#links {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 39rem;
}
#row-slide-3 article#links #page-links, #row-slide-3 article#links #social-links {
  margin: 5% 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  font-size: 1.3rem;
}
#row-slide-3 article#links #page-links span.page-link-item, #row-slide-3 article#links #social-links span.page-link-item {
  padding: 0.2rem 0.5rem;
  width: 50%;
  flex-basis: 150px;
  flex-grow: 1;
  flex-shrink: 1;
}
#row-slide-3 article#links #page-links span.page-link-item a, #row-slide-3 article#links #social-links span.page-link-item a {
  color: #3E5F74;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
#row-slide-3 article#links #page-links span.page-link-item a:hover, #row-slide-3 article#links #social-links span.page-link-item a:hover {
  text-decoration: underline;
}
#row-slide-3 article#links #page-links span.page-link-item a i, #row-slide-3 article#links #social-links span.page-link-item a i {
  font-size: 4.8rem;
}
#row-slide-3 article#links #social-links {
  width: 25rem;
}

#leftbank-youtube {
  width: 100vw;
  height: 56.25vw;
  max-width: 840px;
  max-height: 472.5px;
  margin: 10px 0;
}

#fb-feed {
  margin: 10px 0;
}

footer {
  margin: 0;
  padding: 10px 5%;
  background-color: #3E5F74;
  color: #eee;
}
footer p, footer a {
  color: inherit;
}
footer hr {
  border: 1px solid white;
  opacity: 1;
}
footer .footer-content a {
  color: #eee;
  text-decoration: none;
}
footer .footer-content a:hover {
  text-decoration: underline;
}
footer .footer-content .linkGroup {
  padding: 0.8em 0;
}
footer .footer-content .copyright {
  padding-top: 20px;
  max-width: 60%;
}

@media only screen and (max-width: 576px) {
  html {
    font-size: 80%;
  }
  html #info-bar {
    font-size: 80%;
  }
}
@media only screen and (max-width: 768px) {
  div img.image-embed {
    float: none;
    width: 98%;
  }
}/*# sourceMappingURL=styles.css.map */